<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{https://unpkg.com/scrollreveal}"></script>
   <!-- CSS only -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <div>
        <header  class="um tres">
           
            <nav class="navbar navbar-expand-sm navbar-light bg-transparent ">
                <div class="navbar-brand">
                   <a href="#home"> <p><strong>Neo</strong>Voltz</p></a>
                </div>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="nav-principal">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link text-light" title="Quem somos?" href="#neoVoltz">A Neovoltz</a></li>
                        <li class="nav-item"><a class="nav-link text-light" title="Nossos serviços" href="#servicos">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link text-light" title="como sobrevivemos?" href="#sustentabilidade">Sustentabilidade</a></li>
                        <li class="nav-item"><a class="nav-link text-light" title="fale conosco" href="#contato">contatos</a></li>
                        <li class="nav-item"><a data-toggle="modal" data-target="#ModalLongoExemplo" class="btn btn-outline-light w-100" title="" href="#">login</a></li>
                    </ul>
                  </div>
                
            </nav>
        </header>
        
       <!-- Modal -->
        <div class="modal fade" id="ModalLongoExemplo" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 style="margin-left: 200px;" class="modal-title" id="TituloModalLongoExemplo">login</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form  action="/login" method="post">
                        <div class="form-group">
                           <label>Credencial</label>
                           
                           <input id="credencial" type="text"  class="form-control" placeholder="Ex matilde.Fernandes" required>
                         </div>
                         
                         <div class="form-group">
                           <label>Senha</label>
                           <input id="Senha" type="password"  class="form-control " placeholder="Ex 123456789" required>
                           
                         </div>
                         
                        
     
                         <div style="margin-left: 100px;" class=" button row mt-4 ">
                           <div class="col-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                           </div>
     
                           <div class="col-5">
                             <button  class="btn btn-info " id="acessar" type="submit">acessar</button>
                           </div>
                         </div>
                 </form>
     
                </div>
                <div class="modal-footer">
               
                </div>
            </div>
            </div>
        </div>
        <main>
            <section id="home" class="module parallax parallax-1">
                
                <div class="content1">
                    
                    <div class="container1">
                        <div class="container2">
                            <p>Bem-vindo  à </p>
                            <h2><strong>NEO</strong>VOLTZ!</h2>
                        </div>
                    </div>


                </div>
            </section>
            
            <section id="neoVoltz"  class="module content">
                <div class="img1 "></div>
                <div class="container v">
                    
                    <h2>A Neovoltz</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>


                </div>

            </section>
            
            <section id="servicos" class="module content i">
                <div class="img2 "></div>
                <div class="container v ">
                    <h2>Serviços</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>


                </div>
                <div class="img3 "></div>
                
                
            </section>
            <section id="sustentabilidade" class="module parallax parallax-2">
               <div class="container11"></div>

            </section>
            <section id="contato"  class="module content">
                
                <div class="container v">
                    
                    <h2>Contato</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus cupiditate dolorum natus? Consequatur, reiciendis distinctio earum perspiciatis optio ad laudantium beatae sapiente magni, et iste corporis vero tempore delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut nihil minus eveniet nisi, magni dolore libero tenetur dicta voluptas eaque qui nam mollitia aliquam voluptatum provident sequi accusantium facilis.</p>


                </div>

            </section>
        </main>
    </div>
    <script>
        const header = document.querySelector("header");

        window.addEventListener("scroll", ()=>{
            if(window.pageYOffset > 150 && header.classList.contains("um")){
                header.classList.remove("um");
                header.classList.add("dois");
            }else if(window.pageYOffset <= 150 && header.classList.contains("dois")){
                header.classList.remove("dois");
                header.classList.add("um");
            }
        })
       
       
        window.sr = ScrollReveal({reset: true});
        sr.reveal(".v",{duration: 800})

        

        
       
    </script>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>

</body>
</html>