<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <script th:src="@{https://unpkg.com/scrollreveal}"></script>
    <link rel="icon" th:href="@{/img/logo1.png}">
   <!-- CSS only -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>NeoVoltz</title>
</head>
<body>
   <div class="navigation">
      
      <ul>
         
           <br>
         
         <br>
          <li class="btn  btn2">
              <a href="/home">
                  <span class="icon"><i class="fa-solid fa-house"></i></span>
                  <span class="title">Home</span>
              </a>
          </li>
          <li class="btn disabled  btn2" >
              <a href="/home/conta">
                  <span class="icon"><i class="fa-solid fa-file"></i></span>
                  <span class="title">Conta</span>
              </a>
          </li>
          <li class="btn disabled  btn2">
              <a href="#">
                  <span class="icon"><i class="fa-solid fa-clipboard"></i></span>
                  <span class="title">Historico</span>
              </a>
          </li>
          <li class="btn disabled  btn2">
              <a  href="#">
                  <span class="icon"><i class="fa-solid fa-circle-question"></i></span>
                  <span class="title">Ajuda</span>
              </a>
          </li>
          <li class="btn disabled  btn2">
              <a href="#">
                  <span class="icon"><i class="fa-solid fa-gear"></i></span>
                  <span class="title">Config</span>
              </a>
          </li>
          <li class="btn disabled  btn2">
              <a   href="#">
                  <span class="icon"><i class="fa-solid fa-lock"></i></span>
                  <span class="title">Senha</span>
              </a>
          </li>
          <li class="btn  btn2">
              <a href="/logoff">
                  <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                  <span class="title">Sair</span>
              </a>
          </li>
      </ul>
  </div>
  <div class="corpo">
   <p>Ola <strong>thiago</strong>,  o que deseja fazer hoje dia 29/11?</p>
<div class="box">
   <div class="box-content w50 left mi">
      <div class="mini blue"></div>
      <div class="mini green"></div>
      <div class="mini red"></div>
      
   </div>
   <div class="box-content w50 right">
      <p></p>
   </div>
   <div class="box-content w100 left "></div>
</div>
  </div>
  
  
</body>
</html>