*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
    position: fixed;
    z-index: 5;
   
    
    
}
.um{
   

    background: linear-gradient(180deg, #43832D 0%, rgba(67, 131, 45, 0.296875) 94.27%, rgba(67, 131, 45, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 100px; 
}
.dois{
    background-color: rgb(53, 52, 52);
    height: 85px;
}
ul{
    text-align: left;
    margin-right: 50px;
}
ul li{
    display: inline-block;
    padding: 15px;
    
    
}
ul li a{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
header div p{
    font-size: 30px;
    color: white;
    margin-left: 70px;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
 
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
    height: 100vh;

}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  section.module.content{
   padding: 40px 0;
   background: #ece7d5; 
  }

section.module.parallax-1{
    
    background-image: url(../img/fundoq.png);
    
}
.content1{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.container1{
    background: rgba(217, 217, 217, 0.6);
    border-radius: 33px;
    width: 450px;
    height: 400px;
    margin-left: 13%;
    margin-top: 15%;
    
}
.v{
    visibility: hidden;
}